/* Estilos generales */
:root {
    --primary-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    margin-bottom: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
  }
  
nav a:hover {
    text-decoration: underline;
}

#cartIcon {
    position: relative;
}

#cartIcon img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

#cartItemCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

main {
    max-width: 90%;
    margin: 2rem auto;
    padding: 0.2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#alumnos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-content: center;
    justify-content: center;
}

.alumno-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    justify-items: center;
}

.alumno-card button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.alumno-card button:hover {
    background-color: #15953e;
    color: #1f221f;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}
.alumno-card a {
    color:coral;
    text-decoration-line: blink;
    font-size: 2em;;
}
#cart {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    /*display: flow-root;none;*/
}

.hidden {
    display: none;
}

#cartItems {
    margin-bottom: 10px;
}

#cartItems p {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#cartItems button {
    margin-right: 5px;
    
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: none;
}

.info {
    margin-left: 70px;
}

.add_detail {
    margin-left: 100px;
}

.image_profile {
    width: auto;
    height: 200px;
    border-radius: 50px;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background: var(--primary-color);
    color: white;
}
  